body {
  background-image: linear-gradient(180deg,
                        rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.8) 100%),
                        url("../images/taylor-kiser-EvoIiaIVRzU-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255,215,0);
  text-align: justify;
}

p, ul, ol {
  color: rgb(192,192,192);
}




